* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }

/* colors */
/* font-size */
/* weight */
/* **** utility clases **** */
/* colors */
.f-white {
  color: #ffffff; }

.f-black {
  color: #000000; }

.f-blue {
  color: #1b7dff; }

.f-bright-blue {
  color: #006dfe; }

.f-violet {
  color: #102746; }

.f-gray {
  color: #bfc0c5; }

/* font-size */
.fs-exsm {
  font-size: 16px; }

.fs-sm {
  font-size: 18px; }

.fs-md {
  font-size: 24px; }

.fs-lg {
  font-size: 30px; }

.fs-xl {
  font-size: 35px; }

.fs-xxl {
  font-size: 50px; }

/* font weight */
.fw-normal {
  font-weight: 400; }

.fw-bold {
  font-weight: 500; }

.fw-bolder {
  font-weight: 700; }

.button-bg {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  background-color: #1b7dff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 39px 14px; }

.button-sm {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #1b7dff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 19px 11px; }

button {
  cursor: pointer; }
  button:hover {
    box-shadow: -1px 3px 13px 0px rgba(0, 0, 0, 0.38);
    position: relative;
    top: -1px; }

.form__input {
  width: 33%;
  min-width: 297px;
  height: 58px;
  padding: 20px 0;
  padding-right: 29px;
  margin-right: 60px;
  border-bottom: 1px solid #ffffff; }
  .form__input label {
    text-align: start; }
  .form__input input {
    width: 220px;
    margin: 0;
    margin-left: 23px;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff; }
    .form__input input::placeholder {
      font-size: 18px;
      font-weight: 500;
      color: #ffffff; }

@media (min-width: 320px) and (max-width: 1439px) {
  .form__input {
    width: 80%;
    min-width: none;
    display: block;
    height: auto;
    padding: 15px 0;
    margin-bottom: 10px; } }

.cards {
  width: calc((100% - 161px) / 3);
  max-width: 386px;
  margin-top: 54px;
  float: left; }
  .cards figure {
    width: 100%;
    position: relative;
    margin-bottom: 45px; }
    .cards figure img {
      width: 100%;
      display: block;
      height: 377px; }
    .cards figure figcaption {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(21, 24, 36, 0.6);
      font-size: 18px;
      font-weight: 400;
      color: #ffffff;
      padding: 16px 15px 15px 25px; }
      .cards figure figcaption span:nth-child(1) svg {
        margin: auto 14px auto 4px;
        width: 16px; }
      .cards figure figcaption span:nth-child(2) svg {
        margin: auto 0 auto 9px;
        width: 14px;
        height: 14px; }
      .cards figure figcaption .likes {
        margin-left: calc(100% - 200px); }
  .cards p {
    font-size: 16px;
    font-weight: 400;
    color: #102746;
    margin-bottom: 43px; }
  .cards button {
    margin-bottom: 58px; }

header {
  width: 100%;
  height: 100vh;
  background-image: url("/img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 56px; }

.header__container {
  width: 76%;
  margin: auto; }
  .header__container nav {
    width: 100%;
    text-align: justify; }
    .header__container nav:after {
      content: "";
      display: inline-block;
      width: 100%; }
    .header__container nav ul {
      width: 45%;
      max-width: 490px;
      display: inline-block;
      text-align: justify;
      vertical-align: middle; }
      .header__container nav ul::after {
        content: "";
        display: inline-block;
        width: 100%; }
      .header__container nav ul li {
        display: inline-block;
        list-style: none; }
        .header__container nav ul li a {
          text-decoration: none;
          color: #ffffff; }
    .header__container nav li {
      position: relative; }
      .header__container nav li a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: -10px;
        background-color: #ffffff;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
        transform-origin: 0% 100%; }
      .header__container nav li a:hover::after {
        transform: scale(1, 1); }
    .header__container nav .nav__logo {
      width: 55%;
      max-width: 590px;
      text-align: start;
      display: inline-block; }
      .header__container nav .nav__logo img {
        display: inline-block; }
    .header__container nav .nav__burger-icon {
      display: none; }
  .header__container .about {
    width: 57%; }
    .header__container .about__title {
      width: 100%;
      max-width: 619px;
      margin-top: 146px;
      margin-bottom: 22px; }
    .header__container .about__desc {
      width: 88%;
      line-height: 1.5;
      margin-bottom: 39px; }
  .header__container .form {
    vertical-align: middle;
    width: 82%; }

@media (min-width: 320px) and (max-width: 1439px) {
  header {
    width: 100%;
    height: 100%; }
    header nav .nav__logo {
      width: 100%;
      display: inline-block; }
      header nav .nav__logo img {
        display: inline-block; }
    header nav .nav__list {
      display: none; }
    header nav .nav__list.show {
      font-size: 35px;
      font-weight: 500;
      display: block;
      position: absolute;
      top: 100px;
      bottom: 100px;
      background-color: rgba(21, 24, 36, 0.9);
      border-radius: 20px;
      min-width: 90%;
      height: 80vh;
      z-index: 10;
      overflow: scroll;
      text-align: center;
      padding: 50px;
      box-shadow: -1px 1px 20px 3px rgba(0, 0, 0, 0.73); }
      header nav .nav__list.show::-webkit-scrollbar {
        display: none; }
    header nav ul {
      width: 40%; }
      header nav ul li {
        display: block;
        margin-left: calc(40% / 2);
        margin-right: calc(40% / 2);
        margin-bottom: 150px; }
        header nav ul li a {
          font-size: 35px;
          font-weight: 500;
          color: #ffffff; }
    header .header__container .nav__burger-icon {
      display: inline-block; }
    header .header__container {
      width: 90%;
      height: auto; }
      header .header__container .about {
        width: 100%; }
        header .header__container .about__title {
          width: 100%;
          margin-top: 70px;
          margin-bottom: 11px; }
        header .header__container .about__desc {
          width: 70%;
          line-height: 1.5; }
    header .form {
      vertical-align: middle;
      width: 100%;
      padding-bottom: 30px; } }

.benefits {
  width: calc(100% - 180px);
  margin: auto;
  padding: 93px 63px 112px 99px;
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  background-color: white;
  position: relative;
  top: -150px; }
  .benefits h2 {
    margin-bottom: 60px; }
  .benefits article {
    display: inline-block;
    width: calc(100% / 3);
    max-width: 317px;
    margin: auto;
    margin-right: calc((100% - 951px) / 3); }
    .benefits article img {
      margin-bottom: 37px; }
    .benefits article h3 {
      font-size: 18px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 26px; }
    .benefits article p {
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      margin-bottom: 39px; }
    .benefits article a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: #006dfe;
      padding-bottom: 7px; }
      .benefits article a:hover {
        border-bottom: 1px solid #006dfe; }
  .benefits article:nth-child(4) {
    margin-right: 0; }

@media (min-width: 320px) and (max-width: 1439px) {
  .benefits {
    position: static;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 30px 50px;
    text-align: center;
    margin-bottom: 130px; }
    .benefits article {
      display: inline-block;
      width: 100%;
      margin-top: 60px;
      margin-right: 20px;
      text-align: center; }
      .benefits article img {
        margin-bottom: 37px; }
      .benefits article h3 {
        width: 100%;
        font-size: 16px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 26px; }
      .benefits article p {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        margin-bottom: 39px; }
      .benefits article a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #006dfe; } }

.trips {
  width: 88%;
  max-width: 1262px;
  margin: auto;
  margin-bottom: 130px; }
  .trips hr {
    height: 3px;
    background-color: #006dfe;
    border: none;
    width: 20%;
    margin-bottom: 54px; }
  .trips h2 {
    margin-bottom: 7px; }
  .trips .image-container img {
    width: 100%;
    height: 100%;
    filter: brightness(50%); }
  .trips .image-container figcaption {
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    vertical-align: middle;
    position: absolute;
    bottom: 27px;
    left: 30px; }
  .trips .image-container {
    width: 100%; }
    .trips .image-container figure:nth-child(1) {
      width: calc((100% - 10px) / 2);
      height: 354px;
      position: relative;
      display: inline-block; }
    .trips .image-container figure:nth-child(2) {
      width: calc((100% - 10px) / 2);
      height: 354px;
      position: relative;
      display: inline-block; }
    .trips .image-container figure:nth-child(3) {
      width: calc((100% - 20px) / 3);
      height: 354px;
      position: relative;
      display: inline-block;
      margin-right: 4px; }
    .trips .image-container figure:nth-child(4) {
      width: calc((100% - 20px) / 3);
      height: 354px;
      position: relative;
      display: inline-block;
      margin-right: 4px; }
    .trips .image-container figure:nth-child(5) {
      width: calc((100% - 20px) / 3);
      height: 354px;
      position: relative;
      display: inline-block; }

@media (min-width: 320px) and (max-width: 800px) {
  .trips h2 {
    margin-bottom: 36px;
    margin-top: 30px; }
  .trips .image-container figure:nth-child(1) {
    width: 100%;
    height: 354px;
    position: relative;
    display: inline-block; }
  .trips .image-container figure:nth-child(2) {
    width: 100%;
    height: 354px;
    position: relative;
    display: inline-block; }
  .trips .image-container figure:nth-child(3) {
    width: 100%;
    height: 354px;
    position: relative;
    display: inline-block;
    margin-right: 4px; }
  .trips .image-container figure:nth-child(4) {
    width: 100%;
    height: 354px;
    position: relative;
    display: inline-block;
    margin-right: 4px; }
  .trips .image-container figure:nth-child(5) {
    width: 100%;
    height: 354px;
    position: relative;
    display: inline-block; } }

.articles {
  width: 88%;
  max-width: 1262px;
  margin: auto; }
  .articles article {
    clear: both; }
  .articles .left img {
    float: left;
    margin-bottom: 77px;
    margin-right: 108px; }
  .articles .right img {
    float: right;
    margin-bottom: 77px;
    margin-left: 108px; }

.article-desc h2 {
  max-width: 357px;
  font-size: 30px;
  font-weight: 700;
  color: #102746;
  display: inline-block;
  margin-top: 26px;
  margin-bottom: 45px; }

.article-desc p {
  max-width: 519px;
  font-size: 16px;
  font-weight: 400;
  color: #102746;
  display: inline-block;
  margin-bottom: 58px; }

.article-desc a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #006dfe;
  padding-bottom: 7px; }
  .article-desc a:hover {
    border-bottom: 1px solid #006dfe; }

@media (min-width: 320px) and (max-width: 800px) {
  .articles {
    width: 88%;
    margin: auto;
    box-sizing: border-box;
    text-align: center; }
  .articles article {
    width: 100%;
    clear: both;
    text-align: start;
    margin-bottom: 30px; }
  .articles .left img {
    float: none;
    width: 100%;
    margin: 0; }
  .articles .right img {
    float: none;
    width: 100%;
    margin: 0; }
  .article-desc h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #102746;
    display: block;
    margin-top: 26px;
    margin-bottom: 45px; }
  .article-desc p {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #102746;
    display: block;
    margin-bottom: 58px; }
  .article-desc a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #006dfe;
    padding-bottom: 7px; }
    .article-desc a:hover {
      border-bottom: 1px solid #006dfe; } }

@media (min-width: 801px) and (max-width: 1390px) {
  .articles {
    width: 88%;
    margin: auto;
    box-sizing: border-box;
    text-align: center; }
  .articles article {
    width: 100%;
    clear: both;
    text-align: start;
    margin-bottom: 30px; }
  .articles .left img {
    float: left;
    width: 50%;
    margin-right: 20px; }
  .articles .right img {
    float: right;
    width: 50%;
    margin-left: 20px; }
  .article-desc h2 {
    width: 45%;
    font-size: 24px;
    font-weight: 700;
    color: #102746;
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 45px; }
  .article-desc p {
    width: 45%;
    font-size: 16px;
    font-weight: 400;
    color: #102746;
    display: inline-block;
    margin-bottom: 58px; }
  .article-desc a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #006dfe; } }

.places {
  width: 88%;
  max-width: 1262px;
  margin: auto;
  clear: both; }
  .places hr {
    height: 3px;
    background-color: #006dfe;
    border: none;
    width: 20%;
    margin-bottom: 54px; }
  .places h2 {
    margin-bottom: 7px; }
  .places .cards {
    width: calc(100% / 3);
    max-width: 386px;
    margin: 0 calc((100% - 1158px) / 6); }

.cards_container {
  width: 100%;
  overflow: auto;
  margin: auto; }

@media (min-width: 1021px) and (max-width: 1320px) {
  .places {
    width: 88%;
    max-width: 1262px;
    margin: auto;
    clear: both; }
    .places h2 {
      margin-bottom: 7px; }
    .places .cards {
      width: calc(100% / 2);
      max-width: 386px;
      margin: 0 calc((100% - 772px) / 4); } }

@media (min-width: 320px) and (max-width: 1020px) {
  .places {
    width: 88%;
    max-width: 1262px;
    margin: auto;
    clear: both; }
    .places h2 {
      margin-bottom: 7px; }
    .places .cards_container .cards {
      width: 100%;
      margin: auto; } }

.video {
  width: 100%; }
  .video img {
    width: 100%;
    display: block;
    filter: brightness(40%); }

footer {
  background-color: #0e1d28;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding: 118px 167px 118px 194px;
  text-align: justify; }
  footer:after {
    content: "";
    display: inline-block;
    width: 100%; }
  footer .logo {
    display: inline-block;
    vertical-align: top;
    width: 48%; }
  footer .menu {
    display: inline-block;
    width: 48%; }
    footer .menu div ul {
      list-style: none; }
      footer .menu div ul li {
        padding: 3px; }
        footer .menu div ul li a {
          text-decoration: none;
          color: #ffffff; }
    footer .menu .company {
      width: 32%;
      display: inline-block; }
    footer .menu .location {
      width: 32%;
      display: inline-block; }
    footer .menu .socialmedia {
      width: 32%;
      display: inline-block; }

@media (min-width: 320px) and (max-width: 800px) {
  footer {
    padding: 10px 20px;
    text-align: justify;
    font-size: 16px; }
    footer .logo {
      width: 48%;
      display: block; }
    footer .menu {
      width: 48%;
      display: block; }
      footer .menu div ul {
        list-style: none; }
        footer .menu div ul li {
          padding: 3px; }
          footer .menu div ul li a {
            text-decoration: none;
            color: #ffffff; }
      footer .menu .company {
        width: 88%;
        display: block; }
      footer .menu .location {
        width: 88%;
        display: block; }
      footer .menu .socialmedia {
        width: 88%;
        display: block; } }
