.articles {
  width: 88%;
  max-width: 1262px;
  margin: auto;
  article {
    clear: both;
  }
  .left {
    img {
      @include article_image(left);
      margin-right: 108px;
    }
  }
  .right {
    img {
      @include article_image(right);
      margin-left: 108px;
    }
  }
}
.article-desc {
  h2 {
    max-width: 357px;
    @include text_style($font-size-lg, $weight-bolder, $violet);
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 45px;
  }
  p {
    max-width: 519px;
    @include text_style($font-size-exsm, $weight-normal, $violet);
    display: inline-block;
    margin-bottom: 58px;
  }
  a {
    text-decoration: none;
    @include text_style($font-size-exsm, $weight-normal, $bright-blue);
    padding-bottom: 7px;
    &:hover {
      border-bottom: 1px solid $bright-blue;
    }
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  %articles_container_small {
    width: 88%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
  }
  %article_small {
    width: 100%;
    clear: both;
    text-align: start;
    margin-bottom: 30px;
  }
  .articles {
    @extend %articles_container_small;
    article {
      @extend %article_small;
    }
    .left {
      img {
        @include article_image_mobile();
      }
    }
    .right {
      img {
        @include article_image_mobile();
      }
    }
  }
  .article-desc {
    h2 {
      width: 100%;
      @include text_style($font-size-md, $weight-bolder, $violet);
      display: block;
      margin-top: 26px;
      margin-bottom: 45px;
    }
    p {
      width: 100%;
      @include text_style($font-size-exsm, $weight-normal, $violet);
      display: block;
      margin-bottom: 58px;
    }
    a {
      text-decoration: none;
      @include text_style($font-size-exsm, $weight-normal, $bright-blue);
      padding-bottom: 7px;
      &:hover {
        border-bottom: 1px solid $bright-blue;
      }
    }
  }
}

@media (min-width: 801px) and (max-width: 1390px) {
  %articles_container_medium {
    width: 88%;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
  }
  %article_medium {
    width: 100%;
    clear: both;
    text-align: start;
    margin-bottom: 30px;
  }
  .articles {
    @extend %articles_container_medium;
    article {
      @extend %article_medium;
    }
    .left {
      img {
        @include article_image_tablet(left);
        margin-right: 20px;
      }
    }
    .right {
      img {
        @include article_image_tablet(right);
        margin-left: 20px;
      }
    }
  }
  .article-desc {
    h2 {
      width: 45%;
      @include text_style($font-size-md, $weight-bolder, $violet);
      display: inline-block;
      margin-top: 26px;
      margin-bottom: 45px;
    }
    p {
      width: 45%;
      @include text_style($font-size-exsm, $weight-normal, $violet);
      display: inline-block;
      margin-bottom: 58px;
    }
    a {
      display: inline-block;
      text-decoration: none;
      @include text_style($font-size-exsm, $weight-normal, $bright-blue);
    }
  }
}
