footer {
  background-color: $dark-violet;
  @include text_style($font-size-sm, $weight-normal, $white);
  padding: 118px 167px 118px 194px;
  text-align: justify;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 48%;
  }
  .menu {
    display: inline-block;
    width: 48%;
    div {
      ul {
        list-style: none;
        li {
          padding: 3px;
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
    }
    .company {
      @include footer_nav_list(32%, inline-block);
    }
    .location {
      @include footer_nav_list(32%, inline-block);
    }
    .socialmedia {
      @include footer_nav_list(32%, inline-block);
    }
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  footer {
    padding: 10px 20px;
    text-align: justify;
    font-size: $font-size-exsm;
    .logo {
      @include footer_nav_list(48%, block);
    }
    .menu {
      @include footer_nav_list(48%, block);
      div {
        ul {
          list-style: none;
          li {
            padding: 3px;
            a {
              text-decoration: none;
              color: $white;
            }
          }
        }
      }
      .company {
        @include footer_nav_list(88%, block);
      }
      .location {
        @include footer_nav_list(88%, block);
      }
      .socialmedia {
        @include footer_nav_list(88%, block);
      }
    }
  }
}
