.places {
  @include places_layout(88%);
  hr {
    @include title_style(20%);
  }
  h2 {
    margin-bottom: 7px;
  }
  .cards {
    width: calc(100% / 3);
    max-width: 386px;
    margin: 0 calc((100% - 1158px) / 6);
  }
}
.cards_container {
  width: 100%;
  overflow: auto;
  margin: auto;
}

@media (min-width: 1021px) and (max-width: 1320px) {
  .places {
    @include places_layout(88%);
    h2 {
      margin-bottom: 7px;
    }
    .cards {
      width: calc(100% / 2);
      max-width: 386px;
      margin: 0 calc((100% - 772px) / 4);
    }
  }
}

@media (min-width: 320px) and (max-width: 1020px) {
  .places {
    @include places_layout(88%);
    h2 {
      margin-bottom: 7px;
    }
    .cards_container {
      .cards {
        width: 100%;
        margin: auto;
      }
    }
  }
}
