.button-bg {
  @include button($font-size-md, $weight-bold);
  padding: 15px 39px 14px;
}

.button-sm {
  @include button($font-size-exsm, $weight-normal);
  padding: 12px 19px 11px;
}

button {
  cursor: pointer;
  &:hover {
    box-shadow: -1px 3px 13px 0px rgba(0, 0, 0, 0.38);
    position: relative;
    top: -1px;
  }
}
