/* colors */

$white: #ffffff;
$black: #000000;
$blue: #1b7dff;
$bright-blue: #006dfe;
$violet: #102746;
$gray: #bfc0c5;
$dark-violet: #0e1d28;

/* font-size */

$font-size-exsm: 16px;
$font-size-sm: 18px;
$font-size-md: 24px;
$font-size-lg: 30px;
$font-size-xl: 35px;
$font-size-xxl: 50px;

/* weight */

$weight-normal: 400;
$weight-bold: 500;
$weight-bolder: 700;
